:root {
  --brown-color: #472d2d;
  --green-color: #cdf0ea;
  --white-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  padding-top: 60px;
}

.App {
  min-height: 100vh;
}

.main-container {
  min-width: 345px;
  max-width: 1200px;
  width: 80%;
  height: 100%;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding-top: 90px;
  }
}
